.main-container {
  background-color: black;
  color: white;
  min-height: auto;
}

.blog-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.blog-container h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: rgb(174, 239, 217);
}

.blog-post {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.blog-post:hover {
  background-color: #333;
}

.blog-post h3 {
  font-size: 24px;
  color: #007bff;
}

.blog-post p {
  font-size: 18px;
  color: #ccc;
}

.read-more-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.read-more-link:hover {
  background-color: white;
}

.more-blogs {
  margin-top: 20px;
  text-align: center;
}

.more-blogs p {
  font-size: 18px;
  color: white;
}

.more-blogs ul {
  list-style-type: none;
  padding: 0;
}

.more-blogs ul li {
  display: inline;
  margin: 0 10px;
}

.more-blogs ul li a {
  color: #007bff;
  text-decoration: none;
}

.more-blogs ul li a:hover {
  text-decoration: underline;
}

@media (min-width: 780px) and (max-width: 1090px) {
  .blog-container {
    margin-bottom: -250px;
  }

  .read-more-link {
    font-size: 25px;
  }
}
