body {
  background-color: black;
}
#services {
  background-color: black;
  padding: 20px 45px 10px;
  color: white;
}

#services .container {
  max-width: 1200px;
  margin: 0 auto;
}

#services .sub-title {
  font-size: 28px;
  color: rgb(174, 239, 217);
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

@media (min-width: 1024px) {
  #services .sub-title {
    font-size: 40px;
  }
}

.services-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.services-col {
  background-color: #333;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  transition: background 0.3s ease, transform 0.3s ease;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.services-col i {
  font-size: 50px;
  color: rgba(245, 245, 245, 0.776);
}

.services-col h3 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.services-col p {
  margin-top: 15px;
  font-size: 22px;
  line-height: 1.6;
}

.services-col:hover {
  transform: translateY(-5px);
  background-color: var(--primary-color);
  color: white;
}

.services-col:hover i,
.services-col:hover h3 {
  color: white;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #services .container {
    margin-bottom: -200px;
  }
}

@media (max-width: 768px) {
  .services-col {
    width: 90%;
    max-width: 100%;
    padding: 15px;
  }

  #services .container {
    margin-bottom: -40px;
  }

  .services-col i {
    font-size: 40px;
  }

  .services-col h3 {
    font-size: 20px;
  }

  .services-col p {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  #services .container {
    margin-bottom: -40px;
  }
}
